<nav class="navbar navbar-dark bg-white">
  <div class="container">
    <a class="navbar-brand text-dark font-weight-bolder" href="/">
      <strong>Locked<i class="fas fa-heartbeat"></i>Inside</strong>
    </a>
    <div class="text-align-end">
      <a href="/user/login" class="btn btn-primary">Login</a>
      <a href="/user/register" class="btn btn-primary">Register</a>
    </div>
  </div>
</nav>
