<!-- Image and text -->
<nav class="navbar navbar-dark bg-white">
  <div class="container">
    <a class="navbar-brand text-dark font-weight-bolder" href="/dashboard/1">
      <strong>Locked<i class="fas fa-heartbeat"></i>Inside</strong>
    </a>
    <div class="text-align-end">
      <a href="/user/logout" class="btn btn-primary text-align-end">Logout</a>
      <a href="/user/profile" class="btn btn-primary text-align-end"
        ><i class="fas fa-user-circle"></i>profile</a
      >
    </div>
  </div>
</nav>
